---
title: Formulir Pendaftaran Hibah Cipta Media Ekspresi
layout: form
---

    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src= "https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src= "https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
    <script src= "https://cdn.rawgit.com/snyderp/jquery.validate.file/master/jquery.validate.file.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-sha256@0.9.0/src/sha256.min.js"></script>

    <script>
      function setIdentity(user) {
        $(function() {
          $("#auth_name").val(user.user_metadata.full_name);
          $("#email").val(user.email);
          $("#form-fieldset").removeAttr('disabled');
          $("#not-logged-in-message").hide();
        });
      }

      function checkAuth(user) {
        if (user && !(user.user_metadata.registered || user.user_metadata.cme_form_submitted)) {
          return setIdentity(user);
        }
      }

      netlifyIdentity.on("init", checkAuth);

      $( function() {
        checkAuth(netlifyIdentity.currentUser());

        $("#user_agent").val(window.navigator.userAgent);

        var propinsi2 = [
          {
            value: "Q1823",
            label: "Aceh",
            desc: "Propinsi",
          },
          {
            value: "Q1866",
            label: "Kepulauan Bangka Belitung",
            desc: "Propinsi",
          },
          {
            value: "Q1890",
            label: "Bengkulu",
            desc: "Propinsi",
          },
          {
            value: "Q2051",
            label: "Jambi",
            desc: "Propinsi",
          },
          {
            value: "Q2110",
            label: "Lampung",
            desc: "Propinsi",
          },
          {
            value: "Q2140",
            label: "Sumatra Utara",
            desc: "Propinsi",
          },
          {
            value: "Q2175",
            label: "Riau",
            desc: "Propinsi",
          },
          {
            value: "Q2223",
            label: "Kepulauan Riau",
            desc: "Propinsi",
          },
          {
            value: "Q2271",
            label: "Sumatra Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q2772",
            label: "Sumatra Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3540",
            label: "Banten",
            desc: "Propinsi",
          },
          {
            value: "Q3557",
            label: "Jawa Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q3586",
            label: "Jawa Timur",
            desc: "Propinsi",
          },
          {
            value: "Q3630",
            label: "DKI Jakarta",
            desc: "Propinsi",
          },
          {
            value: "Q3724",
            label: "Jawa Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3741",
            label: "DI Yogyakarta",
            desc: "Propinsi",
          },
          {
            value: "Q3891",
            label: "Kalimantan Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q3899",
            label: "Kalimantan Timur",
            desc: "Propinsi",
          },
          {
            value: "Q3903",
            label: "Kalimantan Utara",
            desc: "Propinsi",
          },
          {
            value: "Q3906",
            label: "Kalimantan Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q3916",
            label: "Kalimantan Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5061",
            label: "Nusa Tenggara Timur",
            desc: "Propinsi",
          },
          {
            value: "Q5062",
            label: "Nusa Tenggara Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5065",
            label: "Sulawesi Tengah",
            desc: "Propinsi",
          },
          {
            value: "Q5067",
            label: "Gorontalo",
            desc: "Propinsi",
          },
          {
            value: "Q5068",
            label: "Sulawesi Utara",
            desc: "Propinsi",
          },
          {
            value: "Q5075",
            label: "Sulawesi Tenggara",
            desc: "Propinsi",
          },
          {
            value: "Q5078",
            label: "Sulawesi Selatan",
            desc: "Propinsi",
          },
          {
            value: "Q5082",
            label: "Sulawesi Barat",
            desc: "Propinsi",
          },
          {
            value: "Q5093",
            label: "Maluku",
            desc: "Propinsi",
          },
          {
            value: "Q5094",
            label: "Maluku Utara",
            desc: "Propinsi",
          },
          {
            value: "Q5095",
            label: "Papua",
            desc: "Propinsi",
          },
          {
            value: "Q5096",
            label: "Papua Barat",
            desc: "Propinsi",
          },
          {
            value: "Q3125978",
            label: "Bali",
            desc: "Propinsi",
          },
        ];
        $( "#lokasi" ).autocomplete({
          minLength: 0,
          source: propinsi2,
          focus: function( event, ui ) {
            $( "#lokasi" ).val( ui.item.label );
            return false;
          },
          select: function( event, ui ) {
            $( "#lokasi" ).val( ui.item.label );
            $( "#lokasi_id" ).val( ui.item.value );
            $( "#lokasi_description" ).html( ui.item.desc );

            return false;
          }
        })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
          return $( "<li>" )
            .append( "<div>" + item.label + "</div>" )
            .appendTo( ul );
        };
      });
    $(document).ready(function() {
        function getWordCount(wordString) {
          return wordString.split(/\w+/).length - 1;
        }

        var $validator = $("#formpass").validate({
          focusInvalid: true,
          rules: {
            ktp: {
              required: true,
              number: true,
              rangelength: [16, 16],
            },
            dana: {
              required: true,
              range: [1, 999],
            },
            seni: {
              required: true,
            },
            kategori: {
              required: true,
            },
            telp: {
              required: true,
              number: true,
              rangelength: [8, 12],
            },
            nama: {
              required: true,
              minlength: 3,
              maxlength: 75,
            },
            lokasi: {
              required: true,
              minlength: 3,
              maxWords: 12,
            },
            pengalaman: {
              required: true,
              minlength: 3,
              maxWords: 30,
            },
            proyek: {
              required: true,
              minlength: 5,
              maxlength: 60,
            },
            deskripsi: {
              required: true,
              minlength: 50,
              maxWords: 200,
            },
            latar_belakang: {
              required: true,
              minlength: 50,
              maxWords: 200,
            },
            masalah: {
              required: true,
              minlength: 50,
              maxWords: 200,
            },
            sukses: {
              required: true,
              minlength: 3,
              maxWords: 200,
            },
            foto: {
              required: true,
              extension: "png|jpe?g",
              maxFileSize: {
                "unit": "MB",
                "size": 5,
              },
              minFileSize: {
                "unit": "KB",
                "size": 10,
              },
            },
            file: {
              maxFileSize: {
                "unit": "MB",
                "size": 5,
              },
              minFileSize: {
                "unit": "KB",
                "size": 10,
              },
            },
          },
          messages: {
            ktp: {
              required: "Harap masukan nomor KTP Anda",
              rangelength: "No. KTP yang Anda masukan harus 16 digit",
              number: "No. KTP harus berupa angka",
            },
            dana: {
              required: "Harap masukan dana hibah yang Anda inginkan",
              range: "Harap masukan angka antara 1 - 999",
              number: "Harap masukan angka antara 1 - 999",
            },
            seni: {
              required: "Wajib pilih salah satu",
            },
            kategori: {
              required: "Wajib pilih salah satu",
            },
            telp: {
                required: "Harap masukan nomor telepon seluler Anda",
                rangelength: "Nomor telepon seluler harus diantara {0} digit sampai {1} digit",
                number: "Harap masukan nomor telepon seluler dengan benar",
            },
            nama: {
              required: "Harap masukan nama Anda",
              minlength: "Harap masukan nama Anda",
              maxlength: "Nama tidak boleh lebih dari 75 karakter",
            },
            lokasi: {
              required: "Harap masukan lokasi Anda",
              minlength: "Harap masukan lokasi Anda",
              maxWords: "Harap masukan lokasi proyek Anda secara singkat",
            },
            pengalaman: {
              required: "Harap masukan pengalaman Anda",
              minlength: "Harap masukan pengalaman Anda",
              maxWords: "Harap masukan lama pengalaman Anda berkarya dengan singkat",
            },
            proyek: {
              required: "Harap masukan nama proyek Anda",
              minlength: "Harap masukan nama proyek Anda",
              maxlength: "Nama proyek tidak boleh lebih dari 60 karakter",
            },
            deskripsi: {
              required: "Harap ceritakan proyek Anda",
              minlength: "Harap ceritakan proyek Anda",
              maxWords: "Harap ceritakan proyek Anda dalam {0} kata",
            },
            latar_belakang: {
              required: "Harap ceritakan latar belakang proyek Anda",
              minlength: "Harap ceritakan latar belakang proyek Anda",
              maxWords: "Harap ceritakan latar belakang proyek Anda dalam {0} kata",
            },
            masalah: {
              required: "Harap ceritakan masalah yang ingin Anda angkat",
              minlength: "Harap ceritakan masalah yang ingin Anda angkat",
              maxWords: "Harap ceritakan masalah yang ingin Anda angkat dalam {0} kata",
            },
            sukses: {
              required: "Harap ceritakan bagaimana bagaimana proyek Anda dikatakan berhasil",
              minlength: "Harap ceritakan bagaimana bagaimana proyek Anda dikatakan berhasil",
              maxWords: "Harap ceritakan indikator sukses proyek Anda dalam {0} kata",
            },
            foto: {
              required: "Harap unggah foto diri Anda",
              extension: "Harap unggah berkas berupa gambar (.jpeg, atau .png)",
              maxFileSize: "Ukuran berkas maksimal 5 MB",
              minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
            },
            file: {
              maxFileSize: "Ukuran berkas maksimal 5 MB",
              minFileSize: "Berkas yang Anda masukan terlalu kecil, silahkan coba berkas lain",
            }
          },
          highlight: function ( element, errorClass, validClass ) {
              $( element ).parents( ".col-md-10" ).addClass( "red" ).removeClass( "has-success" );
          },
          unhighlight: function (element, errorClass, validClass) {
              $( element ).parents( ".col-md-10" ).addClass( "has-success" ).removeClass( "red" );
          }
        });
        $("#to_form").click(function(){
            $("#syarat_ketentuan").fadeOut();
            $("#edit_form_title").fadeIn();
            $("#formulir_isi").fadeIn();
        });
        $('#preview').click(function() {
          var $btn = $(this);
          $btn.html('<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>');
          $btn.prop("disabled", "disabled");

          checkDuplicateId($('#ktp').val()).done(function(){
            $btn.html("Selanjutnya");
            $btn.removeAttr("disabled");
            if($("#formpass").valid()){
                $("#formulir").show();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#preview_form_title").show();
                $("#syarat_ketentuan").hide();
                $("#edit_form_title").hide();
                $("#formulir_isi").hide();
                $("#preview_ktp").val( $("#ktp").val() );
                $("#preview_nama").val( $("#nama").val() );
                $("#preview_lokasi").val( $("#lokasi").val() );
                $("#preview_telp").val( '+62 8' + $("#telp").val() );
                $("#preview_email").val( $("#email").val() );
                $("#preview_seni").val( $("input[name=seni]:checked").val() );
                $("#preview_pengalaman").val( $("#pengalaman").val() );
                $("#preview_website").val( $("#website").val() );
                $("#preview_sosmed").val( $("#sosmed").val() );
                $('#filename').val( $('input[name=file]').val() );
                $("#preview_proyek").val( $("#proyek").val() );
                $("#preview_deskripsi").val( $("#deskripsi").val() );
                $("#preview_kategori").val( $("input[name=kategori]:checked").val() );
                $("#preview_latarbelakang").val( $("#latar_belakang").val() );
                $("#preview_masalah").val( $("#masalah").val() );
                $("#preview_durasi").val( $( "#durasi option:selected" ).text() );
                $("#preview_dana").val( $("#dana").val() );
                $("#preview_sukses").val( $("#sukses").val() );
            }
            else {
                $("html, body").animate({ scrollTop: $("#formulir_isi").offset().top }, "slow");
            };
          })
          .catch(function(){
            $validator.showErrors({ ktp: "Nomor KTP sudah terdaftar" });
            $("html, body").animate({ scrollTop: $("#formulir_isi").offset().top }, "slow");
            $btn.html("Selanjutnya");
            $btn.removeAttr("disabled");
          });
        });
        $('#agree').click(function() {
            if ($(this).is(':checked')) {
                $('#formsubmit').removeAttr('disabled');
            } else {
                $('#formsubmit').prop('disabled', 'disabled');
            }
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#inputfoto').attr('src', e.target.result);
                    $('#previewfoto').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#foto").change(function(){
            readURL(this);
        });
        /* back button */
        $("#kembali").click(function(){
                $("#preview_form_title").hide();
                $("#formulir").hide();
                $("#syarat_ketentuan").show();
                $("#edit_form_title").show();
                $("#formulir_isi").show();
        });
        
        var $select = $(".999");
        for (i=1;i<=999;i++){
            $select.append($('<option></option>').val(i).html(i))
        }

        $("#formpass").submit(function(e){
          e.preventDefault();

          var $submit = $("#formsubmit");

          $submit.html('<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>');
          $submit.prop("disabled", "disabled");
          $("#confirmWarn").hide();

          var $form = $(this);
          var action = $form.attr("action");
          var formData = new FormData($form.get(0));

          var user = netlifyIdentity.currentUser();

          $.ajax({
            url: action,
            data: formData,
            type: "POST",
            contentType: false,
            processData: false,
          })
          .then(function(){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#preview_form_title").hide();
            $("#classified_data").hide();
            $("#please_confirm").hide();
            $("#preview_subtitle").hide();
            $("#confirmWarn").hide();
            $("#syarat_ketentuan").hide();
            $("#hide_on_success").hide();
            $("#success_tab").fadeIn();
            return user.update({ data: { cme_form_submitted: true } });
          });
        });

        function checkDuplicateId(id) {
          var deferred = $.Deferred();

          // Skip checking if no repository to check
          if (!window.NETLIFY_ENV) {
            return deferred.resolve();
          }

          var BRANCH_API = "https://gitlab.com/api/v4/projects/" +
                           window.NETLIFY_ENV.repository_slug +
                           "/repository/branches/G-"

          var hashedId = sha256(id)

          $.get(BRANCH_API + hashedId)
          .done(function(){ deferred.reject(); }) // Branch exists; ID registered
          .fail(function(e){
            if (e.status !== 404) return console.err(e);
            // Branch does not exists; unique ID
            deferred.resolve();
          });

          return deferred;
        }

        $('.count-words').on('input', function(e){
          $input = $(this);
          $counter = $input.nextAll('.text-right');
          wordCount = getWordCount($input.val());

          if (wordCount > 200) {
            $counter.addClass("text-danger");
          } else {
            $counter.removeClass("text-danger");
          }

          $counter.text(wordCount);
        });
    });
    </script>

    <style>
        .form-group.required .control-label:after {
          content:"*";
          color:red;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: white;
        }
        * html .ui-autocomplete {
            height: 100px;
        }
        .ui-helper-hidden-accessible {
            display:none;
        }
        .red {
            background-color: #f57676;
            border-radius: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 40px;
        }
    </style>
    <section id="header" style="background-image: url(/static/img/landing/syarat-header.png); background-size: cover; background-attachment: scroll; background-repeat: no-repeat; background-position: bottom; height: 40vh; width: 100%;">
    </section>

    <div id="not-logged-in-message" class="text-center alert alert-danger">
      <h2>Anda belum masuk log.</h2>
      <p>
        Klik <a href="{{ site.baseurl }}/">Beranda</a> dan klik "Formulir" untuk masuk log,
        Anda otomatis akan kembali ke halaman ini.
      </p>
    </div>

    <div class="container" style="margin-top: 30px;" id="syarat_ketentuan">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
                <h2>Harap membaca syarat dan ketentuan sebelum mengisi formulir di bawah ini</h2>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0px">
            <div class="col-md-2 text-center">
                <a href="#permohonan"><h3 class="red-subtitle">Permohonan</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#transparansi"><h3 class="red-subtitle">Transparansi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#lisensi"><h3 class="red-subtitle">Lisensi</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#kelayakan"><h3 class="red-subtitle">Kelayakan</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#alur"><h3 class="red-subtitle">Tenggat</h3></a>
            </div>
            <div class="col-md-2 text-center">
                <a href="#tata-cara"><h3 class="red-subtitle">Tata Cara</h3></a>
            </div>
        </div>
        <img class="img-responsive center-block" src="/static/img/landing/CME_Icon_FAQ.png" style="max-height: 80px; margin-bottom: 40px">
        <div class="row">
            <h3 class="text-center biryani-yellow-subtitle" id="permohonan">Permohonan Hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Hibah dapat diakses oleh siapa saja yang mengaku perempuan, berusia di atas 18 tahun (pada 21 April 2018) dan memiliki inisiatif seni budaya.</h4>
                <h4>Kesempatan terbuka bagi yang berkewarganegaraan Indonesia ataupun bukan. Permohonan hibah oleh Warga Negara Asing, pemohon yang meminta hibah atas nama individu/ kelompok lain dikarenakan perempuan pencipta tidak fasih berbahasa Indonesia/ tidak fasih baca-tulis diharuskan menggunakan formulir cetak.</h4>
            </div>
            <div class="col-md-5">
                <h4>Peserta yang bukan warga negara Indonesia harus memenuhi syarat sudah bekerja aktif di kalangan kebudayaan Indonesia selama paling tidak lima tahun.</h4>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center biryani-yellow-subtitle" id="transparansi">Transparansi</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Data diri Anda akan disimpan oleh panitia dengan tujuan untuk mengontak Anda apabila diperlukan dan tidak akan dipublikasikan ataupun diberikan ke pihak ketiga.</h4>
                <h4>Selain data diri, seluruh permintaan hibah Cipta Media Ekspresi yang masuk via formulir daring maupun cetak terbuka dan transparan untuk dilihat publik. Anda harus berasumsi bahwa informasi ini terekam selama-lamanya di internet dan panitia tidak bisa menghapusnya.</h4>
            </div>
            <div class="col-md-5">
                <h4>Tujuan membuka informasi pendaftaran adalah untuk mendapatkan masukan bagi proyek Anda. Informasi pendaftaran terbuka berarti publik dapat mengakses dan menanggapi.</h4>
                <h4>Untuk permintaan hibah yang sensitif dan mungkin membahayakan pemohon hibah apabila dibuka untuk publik akan dipertimbangkan oleh panitia untuk tertutup saat permintaan hibah yang dianggap sensitif masuk (<i>case-by-case basis</i>).</h4>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center biryani-yellow-subtitle" id="lisensi">Lisensi Creative Commons</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Lisensi hak cipta yang digunakan untuk seluruh hibah baik dari pendaftaran hingga pelaksanaan oleh penerima hibah adalah <a href="https://creativecommons.org/licenses/by/4.0/deed.id">Creative Commons CC-BY 4.0</a>.</h4>
            </div>
            <div class="col-md-5">
                <h4>Secara sederhana pemegang hak cipta yang menggunakan lisensi ini memperbolehkan pengguna ciptaannya untuk dibagikan dan diadaptasi sesuai dengan ketentuan.</h4>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center biryani-yellow-subtitle" id="kelayakan">Permintaan Hibah Tidak Layak</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Duplikat / tidak patut / tidak terkait seni dan budaya.</h4>
            </div>
            <div class="col-md-5">
                <h4>Satu nama pemohon hanya boleh mengisi satu permintaan hibah, lebih dari satu maka permintaan hibah dianggap duplikat dan permintaan selanjutnya akan langsung ditolak. Penolakan langsung oleh panitia juga akan dilakukan oleh permohonan hibah yang tidak pantas / tidak sopan / ataupun tidak terkait dengan permohonan untuk upaya seni dan budaya.</h4>
                <h4>Keputusan panitia untuk permohonan yang ditolak tidak dapat diganggu-gugat.</h4>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center biryani-yellow-subtitle" id="alur">Tenggat</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Pendaftaran hibah ditutup pada hari Minggu, 25 Maret 2018 mendekati tengah malam (23:00), seluruh permohonan hibah baik daring maupun cetak harus sudah diterima panitia sebelum batas ini atau tidak akan dipertimbangkan oleh juri. Klik <a href="/ciptamediaekspresi/timeline-ekspresi.html">linimasa</a> untuk lebih jelasnya.</h4>
            </div>
            <div class="col-md-5">
                <h4>Untuk memastikan formulir Anda mendapatkan waktu telaah yang baik dan pertimbangan awal maksimum dari anggota juri disarankan mengirim formulir seawal mungkin.</h4>
                <h4>Umumnya terjadi peningkatan tajam jumlah formulir masuk menjelang waktu penutupan pendaftaran, waktu yang diberikan tim juri untuk menelaah satu formulir akan menjadi jauh lebih singkat, pemohon hibah disarankan mengirim formulir seawal mungkin setelah membaca keterangan mengenai hibah.</h4>
            </div>
        </div>
        <hr style="border-top: 1px solid #ffca5f;">
        <div class="row" style="margin-top: 70px">
            <h3 class="text-center biryani-yellow-subtitle" id="tata-cara">Tata Cara Permohonan Hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <h4>Pemohon hibah harus mengisi dan mengirimkan formulir daring (<i>online</i>) berupa rancangan konsep proyek/ rencana pribadi. Apabila Anda meminta hibah atas nama orang lain baik individu atau kelompok, gunakan formulir <a href="/static/formulir/CME_FormulirCetak_Final_180207.pdf" download="formulir"><b>cetak/ unduhan.</b></a></h4>
                <h4>Untuk mengisi formulir daring (online), pemohon hibah harus memiliki (1) Nomor KTP, (2) Akun google, (3) Nomor telpon seluler yang tersambung dengan aplikasi WhatsApp (lebih disukai, karena memudahkan identifikasi oleh panitia).</h4>
                <h4>Setelah diisi pemohon hibah akan mendapatkan pratayang dari hasil isian mereka, apabila puas, kirimkan, apabila ada perubahan silakan koreksi formulir Anda.</h4>
                <h4>Kolom pemuatan berkas ada dua, satu diisi dengan foto pemohon hibah, dan satu lagi dapat diisi karya (ilustrasi/audio/video).</h4>
                <h4>Panitia akan menayangkan permohonan hibah yang masuk pada situs web Cipta Media Ekspresi, baik yang diterima via formulir daring atau cetak sebelum dinilai oleh tim juri. Permohonan hibah yang tidak ditayangkan berarti tidak lolos seleksi teknis panitia dan tidak diteruskan untuk dinilai oleh tim juri. Keputusan panitia tidak dapat diganggu-gugat.</h4>
            </div>
            <div class="col-md-5">
                <h4>Formulir cetak <i>(offline)</i> hanya diperuntukkan bagi pemohon hibah yang (1) Memohon hibah untuk orang lain yang tidak bisa berbahasa Indonesia/ tidak mahir baca tulis, (2) WNA (tidak memiliki KTP) yang identifikasinya adalah nomor passport, (3) tidak memiliki nomor telpon seluler yang bisa dihubungi, (4) jaringan internet / data langka.</h4>
                <h4>Khusus untuk pemohon hibah untuk orang lain yang tidak bisa berbahasa Indonesia/ tidak mahir baca tulis, persetujuan dari perempuan tersebut harus dicantumkan melalui cap jempol atau tanda tangan asli diatas formulir yang dicetak. Foto perempuan yang diwakilkan juga harus disertakan pada saat pengembalian formulir.</h4>
                <h4>Formulir cetak/ unduhan dan persyaratan lampiran bisa dikembalikan kepada panitia via surat elektronik ke info@ciptamedia.org atau melalui pos dengan melampirkan CD / berkas hasil karya. <b>Formulir cetak dapat diunduh di <a href="/static/formulir/CME_FormulirCetak_Final_180207.pdf" download="formulir">sini</a></b> atau minta panitia mengirimkan formulir kepada Anda dengan mengirim alamat ke:<a href="mailto:info@ciptamedia.org?Subject=Permintaan%20Formulir" target="_top">info@ciptamedia.org</a> atau kontak via SMS/WA ke: 0821 1172 4732.</h4>
                <h4>Panitia akan menayangkan permohonan hibah yang masuk pada situs web Cipta Media Ekspresi, baik yang diterima via formulir daring atau cetak sebelum dinilai oleh tim juri. Permohonan hibah yang tidak ditayangkan berarti tidak lolos seleksi teknis panitia dan tidak diteruskan untuk dinilai oleh tim juri. Keputusan panitia tidak dapat diganggu-gugat.</h4>
            </div>
        </div>
    </div>
	<div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-center" id="edit_form_title">
                <h2>Hibah Dana Tunai Untuk Merayakan Keragaman dan Ekspresi Kreativitas Perempuan di Indonesia</h2>
            </div>
            <div class="col-lg-12 text-center" id="preview_form_title" hidden>
                <h1>Pratinjau Formulir Pendaftaran</h1>
                <h2>Silakan periksa kembali data yang Anda masukkan. Apabila sudah benar, klik tombol Konfirmasi di bawah.</h2>
            </div>
            <div class="col-lg-12 text-center" id="success_tab" hidden>
                <img class="img-responsive center-block" src="/static/img/landing/CME_Aset_GirlBack_index.png">
                <h1>Pendaftaran Berhasil</h1>
                <h2>Pendaftaran hibah Anda sudah berhasil tercatat dan akan kami proses.</h2>
                <br>
                <h2>Nomor Pendaftaran Hibah Anda adalah:</h2>
                <h1>###</h1>
            </div>
        </div>
        <div class="row" id="formulir_isi">
            <div class="col-lg-12">
                <form class="form-horizontal" id="formpass" name="daftar" netlify-honeypot="bot-field" action="thank-you" netlify>
                  <fieldset id="form-fieldset" disabled>
                    <p class="hidden">
                        <label>Don’t fill this out: <input name="bot-field"></label>
                    </p>
                    <h3 class="text-center biryani-yellow-subtitle">Kontak</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="email">Surel / Email</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Masukan surel / email Anda" required readonly>
                            <input type="text" name="auth_name" id="auth_name" hidden>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="telp">No. Ponsel</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">+62 8</span>
                                <input type="tel" name="telp" class="form-control" id="telp" placeholder="Masukan nomor telepon seluler Anda" required>
                            </div>
                        </div>
                    </div>
                    <h3 class="text-center biryani-yellow-subtitle">Identitas</h3>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">No. KTP</label>
                        <div class="col-md-10">
                            <input type="number" name="ktp" class="form-control" id="ktp" placeholder="Masukkan nomor KTP" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="nama">Nama Sesuai KTP</label>
                        <div class="col-md-10">
                            <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan nama lengkap Anda sesuai dengan KTP" required data-msg="Harap masukan nama Anda">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                            <input type="file" class="btn btn-default" name="foto" id="foto" required data-msg="Harap unggah foto diri Anda">
                            <div class="input-group">
                                <img class="img-responsive image-input" id="inputfoto" src="#" alt="Masukan foto Anda dengan klik di sini">
                                <button type="button" class="btn btn-fa btn-round">
                                    <i class="material-icons">attach_file</i> lampirkan foto Anda
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center biryani-yellow-subtitle">Riwayat Berkarya</h3>
                    <hr>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                    <li><input id="pertunjukan" type="radio" name="seni" value="seni_pertunjukan"><label for="pertunjukan">Seni Pertunjukan</label></li>
                                    <li><input id="rupa" type="radio" name="seni" value="seni_rupa"><label for="rupa">Seni Rupa</label></li>
                                    <li><input id="musik" type="radio" name="seni" value="musik"><label for="musik">Musik</label></li>
                                    <li><input id="kriya" type="radio" name="seni" value="kriya"><label for="kriya">Kriya</label></li>
                                    <li><input id="sastra" type="radio" name="seni" value="sastra"><label for="sastra">Sastra Tertulis / Lisan</label></li>
                                    <li><input id="film" type="radio" name="seni" value="audiovisual"><label for="film">Film / Audiovisual</label></li>
                                    <li><input id="kuliner" type="radio" name="seni" value="kuliner"><label for="kuliner">Kuliner</label></li>
                                    <li><input id="penelitian" type="radio" name="seni" value="penelitian"><label for="penelitian">Penelitian</label></li>
                                    <li><input id="kuratorial" type="radio" name="seni" value="kuratorial"><label for="kuratorial">Kuratorial</label></li>
                                    <li><input id="lainnya" type="radio" name="seni" value="lainnya"><label for="lainnya">Lainnya</label></li>
                                </ul>
                                <label for="seni" generated="true" class="error"></label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input type="text" name="pengalaman" class="form-control" id="pengalaman" placeholder="contoh: 3 tahun / 6 bulan / baru memulai" required data-msg="Harap masukan berapa lama Anda sudah berkarya">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input type="text" name="website" class="form-control" id="website" placeholder="Masukan situs atau blog yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input type="text" name="sosmed" class="form-control" id="sosmed" placeholder="Masukan media sosial yang menunjukan karya-karya Anda (jika ada)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                            <input type="file" class="btn btn-default" name="file" id="file">
                            <div class="input-group">
                                <input type="text" readonly="" class="form-control" placeholder="Contoh karya yang diunggah dapat berbentuk citra visual atau audiovisual dengan ukuran tidak lebih dari 5MB">
                                <span class="input-group-btn input-group-sm">
                                    <button type="button" class="btn btn-fa btn-round">
                                        <i class="material-icons">attach_file</i>
                                     </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center biryani-yellow-subtitle">Proyek</h3>
                    <hr>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input type="text" name="proyek" class="form-control" id="proyek" placeholder="Masukan nama proyek Anda" required data-msg="Harap masukan judul proyek Anda">
                      </div>
                    </div>
                    <div class="ui-widget form-group required">
                      <label class="control-label col-md-2" for="lokasi">Lokasi Proyek</label>
                        <div class="col-md-10">
                          <input type="text" name="lokasi" class="form-control" id="lokasi" placeholder="Lokasi Anda menjalankan proyek (Kota / Kabupaten / Propinsi)" required data-msg="Harap masukan lokasi proyek Anda (Kota / Kabupaten / Propinsi)">
                          <input type="text" name="lokasi_id" id="lokasi_id" hidden>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea name="deskripsi" class="form-control count-words" rows="5" id="deskripsi" placeholder="Ceritakan apa yang ingin Anda lakukan untuk proyek ini. (maksimal 200 kata)" required data-msg="Harap ceritakan tentang proyek Anda"></textarea>
                            <p class="text-right">0</p>
                        </div>
                    </div>
                    <div class="form-group required">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <ul style="list-style: none; padding-left: 5px">
                                  <li><input id="akses" type="radio" name="kategori" value="akses"><label for="akses">Akses</label></li>
                                  <li><input id="perjalanan" type="radio" name="kategori" value="perjalanan"><label for="perjalanan">Perjalanan</label></li>
                                  <li><input id="kerjasama-kolaborasi" type="radio" name="kategori" value="kerjasama_kolaborasi"><label for="kerjasama-kolaborasi">Kerjasama / Kolaborasi</label></li>
                                  <li><input id="lintasgenerasi" type="radio" name="kategori" value="lintasgenerasi"><label for="lintasgenerasi">Lintas Generasi</label></li>
                                  <li><input id="riset-kajian-kuratorial" type="radio" name="kategori" value="riset_kajian_kuratorial"><label for="riset-kajian-kuratorial">Riset / Kajian / Kuratorial</label></li>
                                </ul>
                                <label for="kategori" generated="true" class="error"></label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="latar_belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea name="latar_belakang" class="form-control count-words" rows="5" id="latar_belakang" placeholder="Ceritakan proses terbentuknya gagasan proyek Anda (maksimal 200 kata)" required data-msg="Harap ceritakan latar belakang proyek Anda"></textarea>
                            <p class="text-right">0</p>
                        </div>
                    </div>
                    <div class="form-group required">
                      <label class="control-label col-md-2" for="masalah">Masalah yang Diangkat</label>
                      <div class="col-md-10">
                        <textarea name="masalah" class="form-control count-words" rows="5" id="masalah" placeholder="Ceritakan pokok pikiran permintaan hibah Anda / tema / masalah yang ingin Anda atasi. (maksimal 200 kata)" required data-msg="Harap ceritakan pokok pikiran proyek Anda"></textarea>
                        <p class="text-right">0</p>
                      </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <select name="durasi" class="form-control" id="durasi" required>
                                <option>1 bulan</option>
                                <option>2 bulan</option>
                                <option>3 bulan</option>
                                <option>4 bulan</option>
                                <option>5 bulan</option>
                                <option>6 bulan</option>
                                <option>7 bulan</option>
                                <option>8 bulan</option>
                                <option>9 bulan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea name="sukses" class="form-control" rows="5" id="sukses" placeholder="Jelaskan ukuran keberhasilan proyek Anda" required data-msg="Harap ceritakan bagaimana proyek Anda dapat dikatakan berhasil"></textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="number" name="dana" class="form-control" id="dana" placeholder="Masukan dana yang Anda inginkan (antara 1 - 999 juta)" required>
                                <span class="input-group-addon">Juta</span>
                            </div>
                            <small>Jumlah dana hibah harus realistis dan secara konsisten menunjukkan biaya atas apa yang ingin dilakukan, berapa jumlah orang yang akan melakukannya, serta mencerminkan lama aktivitas.</small>
                        </div>
                    </div>
                    <input id="user_agent" type="hidden" name="user_agent">
                    <div class="col-md-offset-2 col-md-10">
                        <h4><b style="color: red">*</b> Wajib diisi</h4>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <button type="button" id="preview" class="btn btn-lg btn-danger btn-rounded btn-outline">Selanjutnya</button>
                        </div>
                    </div>
                  </fieldset>
                </form>
            </div>
        </div>
        
        <div class="row" id="formulir" hidden>
            <div class="alert alert-warning" id="confirmWarn">
                <div class="container-fluid">
                  <b>Peringatan:</b> Formulir Anda belum terkirim sampai Anda menekan tombol Konfirmasi
                </div>
            </div>
            <div class="col-lg-12">
                <form class="form-horizontal">
                  <div id="classified_data">
                    <h3 class="text-center biryani-yellow-subtitle">Data Rahasia</h3>
                    <h4 class="text-center">Informasi yang tertulis di dalam bagian Data Rahasia tidak akan disebarluaskan</h4>
                    <hr>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" style="color: #eee">No. KTP</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_ktp" id="preview_ktp" style="color: #ccc">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" style="color: #eee">Surel</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_email" id="preview_email" style="color: #ccc">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" style="color: #eee">No. Telpon</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_telp" id="preview_telp" style="color: #ccc">
                        </div>
                    </div>
                    <hr>
                    <br>
                  </div>
                    <h3 class="text-center biryani-yellow-subtitle">Data Pemohon Hibah</h3>
                    <h4 class="text-center" id="preview_subtitle">Informasi yang tertulis di dalam bagian Data Pemohon Hibah akan disebarluaskan</h4>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2">Nama</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_nama" id="preview_nama">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="foto">Foto Diri</label>
                        <div class="col-md-10">
                            <img style="max-height: 200px" class="img-responsive" id="previewfoto" src="#" />
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <fieldset>
                            <label class="control-label col-md-2" for="seni">Bidang Seni yang Anda Tekuni</label>
                            <div class="col-md-10">
                                <input readonly class="form-control" name="preview_seni" id="preview_seni">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="pengalaman">Pengalaman Berkarya</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_pengalaman" id="preview_pengalaman">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="website">Situs Web / Blog</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_website" id="preview_website">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="sosmed">Media Sosial</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_sosmed" id="preview_sosmed">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="file">Contoh Karya</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="filename" id="filename">
                        </div>
                    </div>
                    <div class="form-group has-success">
                      <label class="control-label col-md-2" for="proyek">Judul Proyek</label>
                      <div class="col-md-10">
                        <input readonly class="form-control" name="preview_proyek" id="preview_proyek">
                      </div>
                    </div>
                    <div class="form-group has-success">
                      <label class="control-label col-md-2">Lokasi</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_lokasi" id="preview_lokasi">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="deskripsi">Deskripsi Proyek</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_deskripsi" id="preview_deskripsi" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <fieldset>
                            <label class="control-label col-md-2" for="kategori">Kategori</label>
                            <div class="col-md-10">
                                <input readonly class="form-control" name="preview_kategori" id="preview_kategori">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="latar_belakang">Latar Belakang Proyek</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_latarbelakang" id="preview_latarbelakang" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="masalah">Masalah yang Diangkat</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_masalah" id="preview_masalah" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="durasi">Durasi Proyek</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_durasi" id="preview_durasi">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="sukses">Indikator Sukses</label>
                        <div class="col-md-10">
                            <textarea readonly class="form-control" name="preview_sukses" id="preview_sukses" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label col-md-2" for="dana">Dana Hibah</label>
                        <div class="col-md-10">
                            <input readonly class="form-control" name="preview_dana" id="preview_dana">
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10" id="please_confirm">
                        <h4>Harap pastikan bahwa data yang Anda masukan pada formulir di atas adalah benar.</h4>
                    </div>
                </form>
                <div id="hide_on_success">
                    <div class="col-md-8 col-md-offset-2 well" style="background-color: white; border-radius: 0;">
                        <h2 style="line-height: 1.7em; color: #e2bc67; font-weight: bold;" class="text-center">Kriteria Penentuan Penerima Hibah:</h2>
                        <h4>Kriteria penentuan penerima hibah yang disusun oleh tim juri berangkat dari upaya kritis terhadap ukuran-ukuran yang berpihak pada lelaki dalam menetapkan kualitas dan nilai suatu karya.</h4>
                        <h4>Kriteria berikut digunakan untuk menilai pemohon mendapatkan hibah mereka dengan ukuran apakah upaya seni budaya mereka dapat:</h4>
                        <ul>
                            <li><h4>menarik jenis penonton/pemirsa yang beragam</h4></li>
                            <li><h4>menawarkan sudut pandang baru dalam melihat karya perempuan yang selama ini tidak diakui sehingga dapat memperkaya keragaman dunia seni budaya</h4></li>
                            <li><h4>mempersoalkan norma dan paham yang membatasi waktu atau kesempatan perempuan untuk menghasilkan karya atau terlibat di dalam kegiatan seni budaya</h4></li>
                            <li><h4>membuka kerjasama/kolaborasi lintas budaya di antara sesama perempuan atau menciptakan pemahaman terhadap praktik budaya yang beragam</h4></li>
                            <li><h4>memajukan dialog yang lebih luas dan mendalam mengenai gagasan dan praktik budaya di antara perempuan yang berbeda generasi</h4></li>
                        </ul>
                        <h4>Jika menurut Anda formulir yang Anda isi sudah memenuhi kriteria di atas, silahkan tekan Konfirmasi, apabila belum silahkan tekan Kembali</h4>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group required">
                            <label class="control-label col-md-2" for="agree">Persetujuan</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="agree"> Saya telah membaca dan menyetujui seluruh syarat dan ketentuan dari Cipta Media Ekspresi
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3 text-center">
                            <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="kembali">Kembali</a>
                        </div>
                        <!-- transition to success tab -->
                        <div class="col-md-3 text-center" hidden>
                            <a class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" id="konfirmasi">Konfirmasi</a>
                        </div>
                        <!-- real submit button, please hook it up to konfirmasi -->
                        <div class="col-md-3 text-center">
                            <button type="submit" id="formsubmit" form="formpass" class="btn btn-lg btn-danger btn-rounded btn-outline wow bounceIn" disabled>Konfirmasi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
