<section style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-3 text-center">
                <a href="https://creativecommons.org/licenses/by/4.0/deed.id">
                    <h2 style="font-weight: bold; color: #6ca59a">CIPTA MEDIA</h2>
                    <h4 style="color: #6ca59a">CC BY 4.0</h4>
                </a>
            </div>
            <div class="col-md-3 col-md-pull-6">
                <a href="https://www.fordfoundation.org/regions/indonesia/">
                    <img class="img-responsive center-block" src="/static/img/logo/ford-foundation-logo.png" style="margin-top: 20px">
                </a>
            </div>
            {% include_cached social.html %}
        </div>
    </div>
</section>
<!-- script -->
<script src= "/static/js/bootstrap.min.js"></script>
<script src= "/static/js/material.min.js"></script>
<script src= "/static/js/material-kit.js"></script>
<script src= "/static/js/nouislider.min.js"></script>
