<div class="col-md-3">
    <p style="margin-top: 20px" class="text-center">
        <a style="margin-right: 20px" href="https://www.facebook.com/ciptamedia"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span></a>
        <a style="margin-right: 20px" href="https://twitter.com/ciptamedia"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span></a>
        <a href="https://www.youtube.com/channel/UCYcchZfFm34fcFbP-XT5MSw"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color: #6ca59a"></i>
                <i class="fa fa-play fa-stack-1x fa-inverse"></i>
        </span></a>
    </p>
</div>
