---
title: Pertanyaan Umum Cipta Media Ekspresi
layout: info
---

    <section id="header" style="background-image: url(/static/img/landing/faq-header.png);background-size: cover;background-attachment: scroll;background-repeat: no-repeat;background-position: bottom;height: 40vh;width: 100%">
    </section>
	<div class="container" style="margin-top: 30px;">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="index-title">{{ page.title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <a href="#tentang-hibah"><h3 style="text-transform: uppercase; color: #a14243">Tentang Hibah</h3></a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#keikutsertaan"><h3 style="text-transform: uppercase; color: #a14243">Keikutsertaan</h3></a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#tanggung-jawab"><h3 style="text-transform: uppercase; color: #a14243">Tanggung Jawab</h3></a>
            </div>
            <div class="col-md-3 text-center">
                <a href="#pendaftaran"><h3 style="text-transform: uppercase; color: #a14243">Pendaftaran</h3></a>
            </div>
        </div>
        <img class="img-responsive center-block" src="/static/img/landing/CME_Icon_FAQ.png" style="max-height: 80px; margin-bottom: 40px">
        <div class="row">
            <h3 class="text-center yellow-header" id="tentang-hibah">Tentang hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q11" href="#q11" >
                    <p>Bolehkah saya menggunakan hibah ini untuk mempertunjukkan karya saya di luar Indonesia?</p>
                </a>
                <div id="q11" class="collapse">
                    <p>Tidak. Kami memberikan prioritas pada penciptaan dan pameran/pertunjukan karya di dalam Indonesia untuk meningkatkan kesempatan masyarakat untuk belajar dan merayakan keberagaman seni dan budaya. Kami tidak akan mempertimbangkan proposal untuk perjalanan ke luar Indonesia.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q12" href="#q12">
                    <p>Saya ingin membantu pelaku seni budaya perempuan dengan mengadakan tempat asuh anak atau dapur bersama supaya mereka bisa memiliki waktu berkarya tanpa terbebani tugasnya merawat keluarga. Apakah proyek seperti ini boleh saya ajukan?</p>
                </a>
                <div id="q12" class="collapse">
                    <p>Ya, asalkan tetap pada jalur tujuan Cipta Media Ekspresi untuk upaya seni dan budaya.<br>Fasilitas pendukung untuk meringankan tugas-tugas sosial yang dibebankan kepada perempuan sangat penting dalam menjaga keterlibatan dan aktifnya perempuan. Kami menyadari bahwa tidak jarang fasilitas seperti ini juga menjadi tempat tumbuhnya banyak gagasan baru yang sangat maju mengenai peran perempuan ataupun seni budaya dari perspektif perempuan.<br>Proyek seperti ini tentu akan kami pertimbangkan.<br>Silakan menambahkan informasi mengenai perempuan pelaku seni budaya yang Anda dukung melalui proyek Anda.</p>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
            <h3 class="text-center yellow-header" id="keikutsertaan">Keikutsertaan</h3>
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q21" href="#q21">
                    <p>Siapa yang boleh ikut serta?</p>
                </a>
                <div id="q21" class="collapse">
                    <p>Hibah untuk siapa saja yang mengaku perempuan dan berusia di atas 18 tahun (pada 21 April 2018).<br>Kesempatan dibuka baik bagi yang berkewarganegaraan Indonesia ataupun bukan. Peserta yang bukan warga negara Indonesia harus memenuhi syarat sudah bekerja aktif di kalangan kebudayaan di Indonesia selama paling tidak lima tahun.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q22" href="#q22">
                    <p>Mengapa hibah hanya untuk perempuan pelaku kebudayaan?</p>
                </a>
                <div id="q22" class="collapse">
                    <p>Karena tingkat representasi perempuan di sebagian besar bidang kesenian sangat rendah, baik itu angka partisipasi perempuan dalam pameran seni rupa, pembuat kajian sejarah seni atau mencipta musik. Perempuan juga mengalami pembatasan daya jelajah (mobilitas) yang mengurangi kesempatan mereka untuk melakukan perjalanan dan bekerja secara lintas-budaya. Kesempatan perempuan untuk bekerjasama/ berkolaborasi juga terbatas karena beban sosial dan batasan yang diterapkan kepada perempuan, silakan hitung berapa jumlah kolektif seni yang anggotanya mayoritas lelaki dengan yang mayoritas perempuan.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q23" href="#q23">
                    <p>Saya mengaku diri perempuan, tapi saya ingin mendaftarkan proyek yang melibatkan lelaki, apakah pendaftaran saya akan dipertimbangkan?</p>
                </a>
                <div id="q23" class="collapse">
                    <p>Ya. Selama Anda adalah penggagas proyek dan memimpin proyek ini sejak tahap gagasan sampai penyelesaian, kami akan pertimbangkan.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q24" href="#q24">
                    <p>Saya baru memulai karir seni/budaya saya. Sebagai pemula, bolehkah saya mendaftar?</p>
                </a>
                <div id="q24" class="collapse">
                    <p>Tentu! Kerja kesenian dan budaya selalu mendapat manfaat dari gagasan yang orisinil dan segar, hibah menerima permohonan dari siapa saja termasuk pemula. Silakan pikirkan secara kreatif bagaimana Anda bisa membuktikan kemampuan Anda menjalankan gagasan Anda dalam batas waktu pelaksanaan proyek Cipta Media Ekspresi.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q25" href="#q25">
                    <p>Proyek saya melibatkan sesuatu yang tabu di dalam komunitas saya. Membahasnya bisa membahayakan saya. Apakah ada cara bagi saya untuk mendaftar dan tetap terlindungi dari perhatian publik?</p>
                </a>
                <div id="q25" class="collapse">
                    <p>Silakan isi formulir, panitia akan mempertimbangkan mana yang dipublikasikan dan mana yang tidak. Kami sadar bahwa beberapa aspek kebudayaan sangat sulit dibahas atau bahkan berbahaya. Kami percaya pada keberagaman gagasan serta praktik kebudayaan dan seni, juga menjaga tersedianya ruang ekspresi di dalam komunitas tertentu atau lintas komunitas. Anda dapat meminta kerahasiaan jika merasa memerlukannya, dan bersama kita pikirkan cara-cara yang aman supaya publik luas tetap bisa mendapat manfaat dari gagasan dan karya Anda.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q26" href="#q26">
                    <p>Saya bukan seniman dan belum pernah membuat sesuatu untuk penonton/pemirsa tapi saya sangat mahir membuat benda kerajinan atau memasak dan ingin mendapat kesempatan memperdalam atau membagi kemahiran saya. Apa saya boleh mendaftar?</p>
                </a>
                <div id="q26" class="collapse">
                    <p>Bisa. Banyak pengetahuan dan kemahiran perempuan yang belum diakui sebagai praktik kebudayaan atau kesenian yang bernilai tinggi. Kami ingin membuka pikiran seluas-luasnya dan bersama mencari cara mendukung ekspresi perempuan dalam beragam bentuknya.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q27" href="#q27">
                    <p>Bolehkah saya ikut sebagai individu atau apakah saya memerlukan organisasi agar bisa mendaftar?</p>
                </a>
                <div id="q27" class="collapse">
                    <p>Individu tanpa organisasi diperkenankan untuk mendaftar. Untuk kelompok tanpa organisasi juga diperkenankan untuk mendaftar dengan cara mencantumkan satu nama wakil dari kelompok Anda yang akan bertanggungjawab dalam pelaporan perkembangan proyek dan administrasinya.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q28" href="#q28">
                    <p>Apakah formulir harus berbahasa Indonesia? Saya mengenal perempuan pembuat karya kerajinan atau pencerita ulung yang tidak dapat berbahasa Indonesia ataupun membaca/menulis. Bolehkah saya mengajukan hibah untuk perempuan lain dan bertindak sebagai pengelola proyek?</p>
                </a>
                <div id="q28" class="collapse">
                    <p>Boleh, selama Anda dapat membuktikan bahwa keterlibatan Anda sebagai pengelola adalah dengan sepengetahuan dan seizin pencipta karya dan proyek yang Anda buat dapat dinikmati oleh komunitas mereka bersama dengan komunitas lain di luar penciptanya. Sebaliknya kalau Anda adalah pelaku seni budaya tapi merasa membutuhkan bantuan orang lain untuk mendaftar dan mengelola proyek Anda boleh meminta atau mengizinkan orang lain mendaftar untuk Anda. Walaupun formulir harus ditulis dalam bahasa Indonesia, proyek diperkenankan untuk menggunakan bahasa Ibu/ lokal manapun.</p>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
            <h3 class="text-center yellow-header" id="tanggung-jawab">Jumlah, Periode, dan Tanggung Jawab Penerima Hibah</h3>
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q31" href="#q31">
                    <p>Berapa jumlah paling tinggi atau paling rendah yang boleh saya minta?</p>
                </a>
                <div id="q31" class="collapse">
                    <p>Jumlah total untuk seluruh permohonan hibah adalah Rp 3,5 milyar. Juri tidak menentukan jumlah rendah/ tinggi per proyek. Rancanga anggaran proyek Anda sesuai kebutuhan dan kemampuan Anda menyelesaikannya sebelum 28 Februari 2019.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q32" href="#q32">
                    <p>Apakah ada batas waktu lamanya proyek?</p>
                </a>
                <div id="q32" class="collapse">
                    <p>Ya, proyek harus selesai pada tanggal 28 Februari 2019, dana yang tidak digunakan harus dikembalikan.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q33" href="#q33">
                    <p>Tanggungjawab apa saja yang harus saya jalankan sesudah mendapat hibah?</p>
                </a>
                <div id="q33" class="collapse">
                    <p>Anda harus memberi laporan mengenai kegiatan yang sudah Anda kerjakan,  dan jumlah pengeluarannya.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q34" href="#q34">
                    <p>Kalau saya mendaftar di kategori Kerjasama/Kolaborasi, apakah mitra saya bisa mendaftar juga untuk proyek yang sama?</p>
                </a>
                <div id="q34" class="collapse">
                    <p>Tidak. Anda harus membuat satu proposal bersama untuk proyek kerjasama/kolaborasi Anda.</p>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
            <h3 class="text-center yellow-header" id="pendaftaran">Proses Pendaftaran</h3>
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q41" href="#q41">
                    <p>Saya membuat kesalahan waktu mengisi formulir. Apakah bisa saya betulkan?</p>
                </a>
                <div id="q41" class="collapse">
                    <p>Ya. Silakan kirim pembetulannya ke info@ciptamedia.org dengan mencantumkan nomor proyek yang sudah dipublikasikan.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q42" href="#q42">
                    <p>Apakah saya bisa mendaftar untuk lebih dari satu kategori?</p>
                </a>
                <div id="q42" class="collapse">
                    <p>Tidak. Anda harus pertimbangkan bahwa membuat perencanaan yang baik untuk proyek perjalanan, mencari mitra kerjasama/kolaborasi atau merancang proses riset dan penciptaan membutuhkan banyak waktu dan tenaga. Ingatlah bahwa pendaftaran ini ada tenggat waktunya. Kami menyarankan Anda mendaftar untuk satu kategori yang paling cocok dengan gagasan Anda dengan proposal proyek yang terancang dengan baik dan bisa diselesaikan hingga 28 Februari 2019.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q43" href="#q43">
                    <p>Apakah saya boleh membagi proposal saya di media sosial?</p>
                </a>
                <div id="q43" class="collapse">
                    <p>Ya, Anda dianjurkan untuk membagi proposal di media sosial. Semakin banyak yang mendukung proyek Anda, dimana Anggota Juri bisa mengetahui bahwa dukungan proyek tertentu besar, atau penerima manfaat yang besar, maka kesempatan Anda mendapatkan hibah menjadi lebih baik.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q44" href="#q44">
                    <p>Apakah saya boleh mendaftar dengan proyek yang sudah ada sponsor atau donor yang mendukung sebagian pendanaan?</p>
                </a>
                <div id="q44" class="collapse">
                    <p>Ya, kami dengan senang hati akan ikut menambahkan dukungan kepada proyek yang sudah memiliki sumber dana kalau Anda bisa meyakinkan kami bahwa proyek Anda bisa terlaksana dalam masa hibah Cipta Media Ekspresi.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q45" href="#q45">
                    <p>Membuat karya seni itu memerlukan waktu. Apa saya boleh mendaftar dengan karya yang sudah mulai dibuat dan belum tentu bisa diselesaikan dalam masa hibah?</p>
                </a>
                <div id="q45" class="collapse">
                    <p>Anda diperbolehkan mendaftar untuk salah satu tahap dari proses Anda. Kalau Anda bisa memperlihatkan bahwa satu atau beberapa bagian dari proyek Anda bisa mendapat manfaat dari hibah ini, kami akan dengan senang hati mempertimbangkannya. Misalnya, beberapa jenis karya seperti pembuatan film membutuhkan beberapa tahap kerja seperti pengembangan konsep, produksi dan pasca produksi, tahap mana yang Anda minta untuk biayai?</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q46" href="#q46">
                    <p>Apakah saya harus menunjukkan karya-karya saya sebelumnya?</p>
                </a>
                <div id="q46" class="collapse">
                    <p>Ya. Silakan kirim/unggah karya-karya Anda sebelumnya yang relevan dengan kategori hibah yang ingin Anda tuju. Anda dapat mengirimkan/mengunggah satu dokumen/gambar/video/audio seukuran 5 MB dalam formulir pendaftaran, atau memberikan pranalanya dalam kolom komentar di formulir hibah CME.</p>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
            <h3 class="text-center yellow-header" id="tentang-hibah">Pertanyaan Teknis</h3>
            <div class="col-md-5 col-md-offset-1">
                <a data-toggle="collapse" data-target="#q51" href="#q51" >
                    <p>Saya ingin menyertakan video yang lebih besar dari 5MB, sudah saya muat, tapi halaman formulir tidak mau memproses permintaan saya dan saya terus kembali ke pengisian. Apa yang harus saya lakukan?</p>
                </a>
                <div id="q51" class="collapse">
                    <p>Periksa apakah Anda mencoba memuat video karya yang besarnya lebih dari 5 MB. Panitia mendapatkan pertanyaan rutin dari peserta yang mencoba mengunggah hingga 200MB dan bingung mengapa formulirnya tidak bisa diproses. Formulir tidak bisa diproses karena berkas terlalu besar. Jangan sampai pemuatan berkas besar menghalangi upaya Anda mengisi formulir hibah. Prioritas Anda adalah agar panitia dapat membaca formulir permintaan, sementara video bisa Anda muat di Youtube dan sertakan pranalanya.</p>
                </div>
            </div>
            <div class="col-md-5">
                <a data-toggle="collapse" data-target="#q52" href="#q52">
                    <p>Saya sudah menghilangkan video, dan tetap tidak bisa memproses formulir pendaftaran.</p>
                </a>
                <div id="q52" class="collapse">
                    <p>Ubah browser Anda dan masukkan lagi informasi awal, apabila sebelumnya menggunakan chrome, gunakan firefox atau lainnya (dan sebaliknya), seharusnya formulir dapat memproses tanpa masalah kini.</p>
                </div>
            </div>
        </div>
        <hr class="yellow-line">
        <div class="row">
          <h3 class="text-center yellow-header" id="pertanyaan-lainnya">Pertanyaan lainnya</h3>
          <div class="col-md-6 col-md-offset-3 text-center">
            <p>Anda memiliki pertanyaan lain yang belum tercakup pada halaman pertanyaan umum?</p>
            <p>Tanyakan kepada panitia via surel info@ciptamedia.org subyek: pertanyaan, atau via WhatsApp ke nomor +6282111724732</p>
         </div>
            </div>
        <hr class="yellow-line">
        <section style="margin-top: 100px">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-md-2 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/syarat-ekspresi" class="round-button"><b>Syarat &</b><br><b>Ketentuan</b></a></div></div>
                    </div>
                    <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                        <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/faq-ekspresi" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
                    </div>
                </div>
            </div>
        </section>
        <img class="img-responsive center-block" src="/static/img/landing/CME_Aset_GirlBack_index.png">
    </div>
